/node_modules
public/fonts/
public/images/
public/img/
/public/hot
/public/statics
/public/storage
/public/assets
/public/frontend
/storage/*.key
/resources/assets/bower
/vendor
/bootstrap/cache
/storage/app
/storage/debugbar
/storage/framework
/storage/logs
/.idea
/.vscode
/.vagrant
/.docker
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.DS_Store
