ul,
ol {
    &.social {
        li {
            a {
                color: $color-primary;
                font-size: 28px;

                &:hover {
                    color: darken($color-primary, 10%);
                }
            }
        }
    }
}

.list-horizontal {
    margin: 0;
    padding: 0;

    li {
        display: inline-block;

        a {
            margin: 0 5px;
            color: rgba(255, 255, 255, 0.8);

            &:hover {
                color: $color-primary;
            }
        }
    }
}

/*! Footer styles */
.site-footer {
    color: $color-footer;
    background-color:  $color-footer-bg;
    font-size: 0.95em;

    p, ul, ol {
        font-size: 0.95em;
    }
}

.footer-main {
    padding: 70px 0;
}

.facebook-box {
    iframe {
        width: 100%;
    }
}

.social {
    padding: 0;

    &.horizontal {
        li {
            display: inline-block;

            a {
                margin: 0 5px;
                padding: 5px;
            }

            &:first-child {
                a {
                    margin-left: 0;
                    padding-left: 0;
                }
            }

            &:last-child {
                a {
                    margin-right: 0;
                    padding-right: 0;
                }
            }
        }
    }
}

.f-title {
    color: #fff;
    font-size: 1.1em;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.f-logo {
    img {
        max-width: 180px;
        max-height: 180px;
        display: inline-block;
        margin: 0 auto 20px;
    }
}

.f-col {
    ul,
    ol {
        padding: 0;
        margin: 0;

        &.nav-links {
            li {
                line-height: 22px;
                margin-bottom: 15px;

                a {
                    color: $color-footer;
                    text-transform: uppercase;
                    transition: all 0.2s;

                    &:hover {
                        color: $color-primary;
                        margin-left: 4px;
                    }
                }
            }
        }

        &.social {
            font-size: 28px;
            text-align: center;

            li {
                a {
                    color: #fff;
                    font-size: 28px;

                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }
    }

    .facebook-box {
        margin-top: 22px;
    }

    .sales-block {
        background: #fff;
        border-bottom: 5px solid $color-primary;
        padding: 25px 15px;
        margin: 0 0 5px;

        h4 {
            font: 20px/25px "GraphikMedium",sans-serif;
            color: #2f2b2f;
            text-transform: none;
            margin: 0 0 10px;
        }

        .phone-link {
            font: 25px/38px "GraphikRegular",sans-serif;
            color: $color-primary;
            margin-bottom: 10px;
            display: inline-block;
            width: 100%;
        }
    }
}

.copyright {
    padding: 12px 0;
    border-top: 1px solid $color-footer-border;

    p {
        margin: 0;
    }

    .list-horizontal {
        text-align: right;
    }
}

#site-options {
    position: fixed;
    right: 20px;
    bottom: 50%;
    z-index: 88;
    transition: all 0.3s;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.3);

    .option-item {
        color: #fff;
        width: 50px;
        height: 50px;
        line-height: 50px;
        display: inline-block;
        text-align: center;
        transition: all 0.6s;
        background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    }

    #fullscreen {
        &::before {
            content: "\f065";
            font-family: FontAwesome;
            transition: all 0.6s;
        }

        &.open {
            &::before {
                content: "\f066";
            }
        }
    }
}

#back-top {
    color: #fff;
    background: $color-primary none repeat scroll 0 0;
    font-size: 20px;
    text-align: center;
    display: none;
    width: 40px;
    height: 40px;
    padding-top: 6px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 99;
    transition: 0.3s;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.3);

    &:hover {
        background: darken($color-primary, 10);
    }
}

.preeloader {
    background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 9999999;
    right: 0;
    top: 0;
    bottom: 0;
}

.preloader-spinner {
    display: block;
    height: 60px;
    left: 50%;
    margin: -30px 0 0 -30px;
    position: fixed;
    top: 50%;
    width: 60px;
    z-index: 10;

    img {
        max-width: 100%;
        height: auto;
    }
}

// ACTION - Skype
#action-skype {
    color: #fff;
    background: #00aff0 none repeat scroll 0 0;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    height: 40px;
    padding: 5px 15px;
    border-radius: 30px;
    position: fixed;
    left: 20px;
    bottom: 60px;
    z-index: 99;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 10px 0px;
}

#action-skype span,
#action-skype i {
    float: left;
    line-height: 30px;
}

#action-skype i {
    font-size: 24px;
    margin-right: 5px;
}

// Popup contact box
.contact-box {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
}

.contact-box .contact-box__content {
    display: none;
    position: absolute;
    left: auto;
    right: 0;
    bottom: 80px;
    width: 320px;
    border-radius: 5px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 10px 0px;
}

.contact-box .contact-box__header {
    color: #fff;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px 25px;
    background: #76b51b;
}

.contact-box__form {
    padding: 25px;
    border: 1px solid #e9e9e9;
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.contact-box__form .btn {
    color: #fff;
    background: #76b51b;
    width: 100%;
    text-align: center;
}

.contact-box__form input,
.contact-box__form select,
.contact-box__form textarea,
.contact-box__form .form-control {
    border: 1px solid #ddd;
}

.contact-box__form textarea {
    height: 80px;
}

.contact-box__form input:focus,
.contact-box__form select:focus,
.contact-box__form textarea:focus,
.contact-box__form .form-control:focus {
    border: 1px solid #76b51b;
    box-shadow: none;
    outline: 0;
}

.contact-box .contact-box__button {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #76b51b;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 10px 0px;
}

.contact-box .contact-box__button i {
    line-height: 60px;
}

.contact-box .contact-box__button .contact-box__button--close {
    display: none;
}

.contact-box.open .contact-box__content {
    display: block;
}

.contact-box.open .contact-box__button .contact-box__button--mail {
    display: none;
}

.contact-box.open .contact-box__button .contact-box__button--close {
    display: block;
}
